*{margin: 0 ;padding: 0;}
ul{list-style: none;}
/*----------------用户信息--------------------------------------------------*/
#box{width: 100%;height: 30px;background: silver;}
#usernav{width: 800px;height: 30px;margin: auto;background: silver;line-height: 30px;}
#usernavL{width: 200px;height: 100%;float: left;color:darkslategray;font-weight:600 ;}
#usernavR{width:400px;height: 100%;float: right;}
#usernavR>ul>li{float: left;height: 30px;text-align: center;margin: 0 10px;}
#usernavR>ul>li:nth-child(1){}
#usernavR>ul>li:nth-child(2){width: 60px;}
#usernavR>ul>li:nth-child(3){width: 60px;}
#usernavR>ul>li:hover{border-bottom: 2px solid  #E60111;color: #E60111;font-weight:600 ;cursor: pointer;}
#usernavR>ul>li:nth-child(3):hover#buycar:after{background-position: -147px -150px;}

#buycar{position: relative;}
#buycar::after{content: ""; position: absolute;right: -20px;top: 2px;width: 25px;height: 25px;background: url(../img/01shouye/icon.png);background-position: -172px -149px;}

#box1{width: 1200px;height: 130px;margin: auto;position: relative;}
#box2{width: 100%;height: 50px;background: #e60111;}
#box3{width: 100%;height: 550px;}
#box4{width: 100%;}
#box6{width: 100%;height: 400px;background: #d5d5d5;}

/*----------------搜索栏---------------------------------------------------*/
#box1>img:nth-child(1){position: absolute;left: 0;top: 20px;cursor:pointer;}
#box1>img:nth-child(3){position: absolute;right: 0;top: 5px;}
#bgsearch{position: absolute;left: 350px;bottom: 50px; width: 500px;height: 30px;border:3px solid #ec3b3b;}
#seL{float: left;width: 60px;height: 30px;color:#ec3b3b ;text-align: center;line-height: 25px;font-size:13px ;}
#seR{float: right;width: 100px;height: 30px;background:#ec3b3b ;color: white;font-size:17px ;font-weight:700 ;text-align: center;line-height: 30px;}
#seR:hover{background: red;cursor: pointer;}
#setxt{width:340px;height: 30px;border: none;outline: none;}
#seun{position: absolute;left: 50px;bottom: -30px;color:#ec3b3b; width: 300px;height: 20px;font-size: 14px;}
#seun>span{margin-left: 10px;cursor: pointer;}
#seun>span:hover{color: red;}
/*----------------导航栏---------------------------------------------------*/
.navlist{width:1200px;height: 50px;margin: auto;}
.navlist>li:nth-child(1){position: relative;}
.navlist>li{float: left;width:150px;height: 50px;color: white;line-height: 50px;text-align: center;}
.navlist>li:hover{background:darkred;cursor: pointer;}
.sidenav{background: whitesmoke;color: brown;z-index: 999;position: absolute;}
.sidenav>li{width:150px;height: 50px;}
.sidenav>li:hover{background:darkred ;color: white;}
/*----------------商品信息---------------------------------------------------*/
#goods-los{width: 1200px;height: 40px;margin: auto;line-height: 40px;color: silver;}
#goods-mes{width: 1000px;height:500px;margin: auto;border:1px solid salmon ;}
#goods-view{width: 50%;height: 100%;float: left;}
#midview{width: 400px;height: 400px;margin: auto;}
.smpic{width: 100%;height:100px ;}
.smpic>li{float: left; width:60px;height: 60px;margin: 12px;}
#goods-info{float: right; width: 49%;height: 100%;}
#goods-info>h1{padding: 20px;box-sizing: border-box;}
#sellbox{padding: 20px;box-sizing: border-box;background: whitesmoke;font-size: 25px;}
#sell{color: red;font-weight: 800;}
#numbox{padding:20px;box-sizing: border-box;}
#sub{margin-left: 20px;width: 30px;height: 30px;border-radius:50% ;color: red;background: white;text-align: center;font-weight: 800;outline: none;cursor: pointer;border: 1px solid silver;}
#add{width: 30px;height: 30px;border-radius:50% ;color: red;background: white;text-align: center;font-weight: 800;cursor: pointer;outline: none;border: 1px solid silver;}
/*#sub:hover,#add:hover{background: red;color: white;cursor: pointer;}*/
#numbox>span:nth-child(3){margin: 0 20px;}
#btnbox{width: 420px;height: 60px;position: relative;}
#btnbox>input{width: 200px;height: 60px;background: #E60111;color: white;font-size:18px ;font-weight:800 ;border-radius:10px ;}
#btnbox>input:hover{background: darkred;cursor: pointer;}
#addbuycar>input:hover #cir{background: darkred;cursor: pointer;}

#cir{position: absolute;width: 4px;height: 4px;background: #E60111;right: 20px;top: 5px;border-radius:50% ;}
/*#cir{animation: wowo 1.5s cubic-bezier(0.0, 0.0, 0.0, 0.0) 1 forwards;}*/
@-webkit-keyframes wowo {
				from {transform: perspective(300px) translateY(-200px) translatex(-600px) scalex(8) scaleY(8) ;}
				50%{transform: perspective(300px) translateY(-100px)  translatex(-200px) scalex(3) scaleY(3);}
				to {transform: perspective(300px) translateY(30px)  translatex(30px)  scalex(0) scaleY(0);}
			}


#total{padding:20px;box-sizing: border-box;}
#totalsell{color: darkgoldenrod;}
#service{padding:20px;box-sizing: border-box;}

/*---------------商品图片----------------------------------------------------*/
#mesAcom{width: 1000px;height: 50px;background: whitesmoke;margin: auto;}
#mesAcom>ul>li{float: left;width: 100px;height: 50px;padding: 10px;box-sizing: border-box;line-height: 30px;cursor: pointer;text-align: center;}
#mesAcom>ul>li>span:hover{border-bottom:1px solid red;}
#gcomm{width: 1000px;height: 300px;margin: auto;border:1px  solid gray;}
#com-tit{margin-top: 10px;width: 100%;height: 30px;background: darkgray;}
#box4>ul{width: 1000px; margin: auto;float: inherit;}
#box4>ul>li{ width: 100%;}

/*----------------网站信息---------------------------------------------------*/
#last-title{width: 100%;height: 100px;border-bottom: 1px solid silver;text-align: center;color: dimgrey;}
#last-title>p{display: inline-block;margin: auto;width: 300px;height: 100px;font-size: 25px;font-weight: 800;line-height: 100px;}
#last-footer{position: relative; margin: auto;width: 1200px;height: 200px;}
#footer-list{position: absolute; width: 51%;height: 100%;display: inline-block;color: dimgray;}
#footer-list>ul{width: 20%;height: 100%;float: left;margin:15px;}
#footer-list>ul>li{font-size:14px ;margin:5px 0;}
#footer-list>ul>li:hover{color: goldenrod;cursor: pointer;}
#footer-img{position: absolute; width: 24%;height: 100%;text-align: center;left: 620px;top: 0;border-left: 1px solid silver ;}
#footer-img>img{margin: auto;}
#footer-tel{position: absolute;right:0;top: 0; width: 24%;height: 100%;display: inline-block;border-left: 1px solid silver ;text-align: center;color: #cd6d6e;}
#tel{display: inline-block;width: 42px;height: 40px;background:url(../img/01shouye/newtel.png) ;margin:50px 0 0 50px;}
#footer-tel>span{display: inline-block;font-size: 25px;}
#footer-tel>p{font-size: 20px;}
#last-img{width: 100%;height: 100px;margin: auto;border-top:1px solid silver ;text-align: center;font-size: 15px;color: gray;line-height: 50px;}








